<!DOCTYPE html>
<html {{site.language_attributes}}>
  <head>
  <meta charset="{{site.charset}}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ function('wp_head') }}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Work+Sans:wght@300&display=swap" rel="stylesheet">
  </head>
  
  <body class="{{ body_class }} {{ posts_more_than_one_class }}" data-template="base.twig">
    
    <div id="SiteWrapper" class="site-wrapper">
      
      {% block header %}
      {% include 'header.twig' %}
      {% endblock %}

      <main role="main" id="MainContent">
        {% block content %}
        <p>Sorry, Nothing to Display!!</p>
        {% endblock %}
      </main>

      {% block footer %}
      {% include 'footer.twig' %}
      {% endblock %}

    </div>
    
    <div id="modal-navbar-search" class="uk-modal-full" uk-modal>
      <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle" uk-height-viewport>
        <button class="uk-modal-close-full" type="button" uk-close></button>
        <form class="uk-search uk-search-large" role="search" method="get" action="{{site.url}}">
          <input id="header-search" class="uk-search-input uk-text-center playfair-display" type="search" placeholder="Start typing..." name="s" autocomplete="off" autofocus>
          <input type="hidden" name="post_type" value="post">
        </form>
      </div>
    </div>

    <div id="offcanvas-mobile-nav" uk-offcanvas="mode: reveal; overlay: true; flip: true">
        <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
        <button class="uk-offcanvas-close uk-close uk-icon" uk-close type="button" title="Close the Mobile Menu"><span class="uk-hidden">Close</span></button>
            <ul class="uk-nav uk-nav-default">
              {% if has_menu_mobile %}
                <li class="uk-nav-header uk-text-bold uk-margin-small-bottom">Menu</li>
                {% for item in menu_mobile.get_items %}
                  {% if item.get_children %}
                    <li class="uk-parent {{ item.classes | join(' ') }}">
                      <a href="{{ item.get_link }}">{{ item.title }}</a>
                      <ul class="uk-nav-sub">
                        {% for child in item.get_children %}
                          <li>
                            <a href="{{ child.get_link }}">{{ child.title }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                    </li>
                  {% else %}
                    <li class="{{ item.classes | join(' ') }}">
                      <a href="{{ item.get_link }}">{{ item.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              {% else %}
                <li class="uk-nav-header uk-text-bold uk-margin-small-bottom">Menu</li>
                <li>Add a menu to the Mobile Menu slot in Appearance > Menus.</li>
              {% endif %}
              <li class="uk-nav-divider uk-margin-top"></li>
              <div class="uk-margin-top uk-position-z-index uk-position-relative">
                <form class="uk-search uk-search-default uk-width-1-1" role="search" method="get" action="{{site.url}}">
                  <span class="uk-search-icon-flip" uk-search-icon></span>
                  <input class="uk-search-input" type="search" placeholder="Search..." id="SearchMobile" name="s" autocomplete="off">
                </form>
              </div>
            </ul>
        </div>
    </div>
    
    {{ function('wp_footer') }}
    
    <script>
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        document.body.scrollTop = 0; // For Safari
    </script>

  </body>
</html>