<!DOCTYPE html>
<html {{site.language_attributes}}>
  <head>
  <meta charset="{{site.charset}}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ function('wp_head') }}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Work+Sans:wght@300&display=swap" rel="stylesheet">
  </head>
  
  {% include 'styles.twig' %}
  
  {% if posts_more_than_one %}
  {% set body_attrs1 = 'slider_height_dynamically_set()'  %}
  {% set body_attrs2 = 'slider_height_dynamically_set()' %}
  {% endif %}
  
  <body class="{{ body_class }} {{ posts_more_than_one_class }}" onload="{{body_attrs1}}" onresize="{{body_attrs2}}" data-template="base.twig">
    
    <div id="SiteWrapper" class="site-wrapper">
      
      {% block header %}
      {% include 'header.twig' %}
      {% endblock %}

      <main role="main" id="MainContent">
        {% block content %}
        <p>Sorry, Nothing to Display!!</p>
        {% endblock %}
      </main>

      {% block footer %}
      {% include 'footer.twig' %}
      {% endblock %}

    </div>
    
    {{ function('wp_footer') }}
    
  </body>
</html>