<li id="post-{{post.ID}}" class="slider-item {{ post.class }}">
  <div class="uk-child-width-1-2@m uk-grid-match uk-grid-collapse" uk-grid>
    <a href="{{post.link}}">
      <div class="slider-image-wrap uk-position-relative">
        <img class="home-slider-image" data-src="{{ post.thumbnail.src('shanley-theme-hero-image') }}" alt="{{ post.thumbnail.alt }}" data-height data-width uk-img>
      </div>
    </a>
    <div class="slider-content uk-background-muted">
      <div class="uk-flex uk-flex-center uk-flex-middle uk-padding-large">
        <div class="uk-text-left uk-width-1-2@m">
          <p class="uk-text-small uk-text-uppercase uk-text-bold">
            {% for category in post.categories %}
              {% if not loop.last %}
                <a title="{{ category }}" href="{{ category.link }}">{{ category }}</a>,
              {% endif %}
              {% if loop.last %}
                <a title="{{ category }}" href="{{ category.link }}">{{ category }}</a>
              {% endif %}
            {% endfor %}
          </p>
          <h2 class="uk-margin-remove-top">{{post.title}}</h2>
            <a href="{{post.link}}" class="uk-animation-toggle" tabindex="0">
              <span>{{ post.preview.length(5).read_more('... ') }}</span><span>Continue Reading</span>
              <span class="slider-link-icon uk-margin-small-left uk-animation-slide-left-small" uk-icon="arrow-right"></span>
            </a>
        </div>
      </div>
    </div>
  </div>
</li>